body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
}

.nav {
    display: flex;
    justify-content: center;
    list-style-type: none;
    border-bottom: 1px solid #ccc;
    margin: 0;
    padding: 20px 0;
}

.nav-item {
    margin: 0 5%;
    padding: 5px 10px;
    font-size: 24px;
    font-weight: 700;
}

.dropzone {
    margin: 20px auto;
    background-color: #f8f8f8 !important;
    border: 2px dashed #ccc !important;
    border-radius: 5px !important;
    width: 80%
}

.dropzone:hover {
    background-color: aliceblue !important;
}